@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap');

* {
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  min-height: 100vh;
}

form {
  display: flex;
  justify-content: center;
  align-items: center;
}

form input,
form button {
  padding: 1rem 0.5rem;
  font-size: 1.25rem;
  border: none;
  background-color: white;
  outline: none;
}

form button {
  color: #f58401;
  background-color: white;
  cursor: pointer;
  transition: all 0.3s ease;
}

form button:hover {
  background-color: rgb(50, 156, 50);
  color: white;
}

.todo-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.todo-list {
  min-width: 30%;
  list-style: none;
}

.todo {
  margin: 0.5rem;
  background-color: #f9f9f9;
  color: black;
  font-size: 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: all 0.3s ease;
}

.todo:hover {
  background: #ddd;
}

.todo li {
  flex: 1;
}

.trash-btn,
.complete-btn {
  background-color: #f58401;
  color: white;
  border: none;
  padding: 1rem;
  cursor: pointer;
  font-size: 1rem;
}

.complete-btn {
  background-color: rgb(50, 156, 50);
}

.todo-item {
  padding: 0rem 0.5rem;
}

.fa-trash,
.fa-check {
  pointer-events: none;
}

.completed {
  text-decoration: line-through;
  opacity: 0.5;
}

.fall {
  transform: translateY(8rem) rotateZ(20deg);
  opacity: 0;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: none;
  box-shadow: none;
  border: none;
}

.select {
  font-size: 1.25rem;
  margin: 1rem;
  position: relative;
  overflow: hidden;
}

select {
  color: #f58401;
  width: 10rem;
  cursor: pointer;
  padding: 1rem;
}

.select::after {
  content: '\25BC';
  position: absolute;
  background-color: white;
  color: #f58401;
  top: 0;
  right: 0;
  padding: 1rem;
  pointer-events: none;
  box-shadow: none;
  transition: all 0.3s ease;
}

.select:hover::after {
  background-color: rgb(50, 156, 50);
  color: white;
}

ul li {
  display: flex;
  cursor: pointer;
  position: relative;
  padding: 12px 8px 12px 40px;
  font-size: 18px;
  transition: 0.2s;
  list-style-type: none;

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

ul li.checked {
  background: #276678;
  color: #fff;
  text-decoration: line-through;
}

ul li.checked::before {
  content: '';
  position: absolute;
  border-color: #fff;
  border-style: solid;
  border-width: 0 2px 2px 0;
  top: 10px;
  left: 16px;
  transform: rotate(45deg);
  height: 15px;
  width: 7px;
}

.close {
  position: absolute;
  right: 0;
  top: 0;
  padding: 12px 16px 12px 16px;
}

.close:hover {
  background-color: #f78501;
  color: white;
}

.header {
  background-color: #f78501;
  padding: 30px 40px;
  color: white;
  text-align: center;
}

img {
  background-color: white;
}

.header:after {
  content: '';
  display: table;
  clear: both;
}

input {
  margin: 0;
  border: none;
  border-radius: 0;
  width: 75%;
  padding: 10px;
  float: left;
  font-size: 16px;
}

.button {
  padding: 10px;
  width: 100px;
  background: #d9d9d9;
  color: #555;
  float: left;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
  border-radius: 0;
  outline: none;
  margin-left: 5px;
}

button:active {
  outline: none;
}

.button:hover {
  background-color: #bbb;
}

.cry-face {
  height: 25px;
  width: 25px;
}
